{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<body>
<h1> Are you sure you want to delete "{{equipmentToDelete.title}}"in ({{equipmentToDelete.catalog.category}}) ? </h1>

<form action="{{ url_for('deleteCatalogItems',sport_name=equipmentToDelete.catalog.category, goods_name=equipmentToDelete.title)}}" method = 'post'>

<input type='submit', value = 'Delete'>




</form>

<a href = "{{ url_for('showCatalogItemsDescription', sport_name=equipmentToDelete.catalog.category, goods_name=equipmentToDelete.title)}}"> Cancel </a>
</body>
{% endblock %}
